<footer>
  <div class="flex">
    <div class="col1">
      <div class="nav__logo">
        <img class="clevr--icon" src="img/icon.png" alt="Clevr icon" />
        <img class="clevr--text" src="img/Clevr.png" alt="Clevr logo" />
      </div>
      <div class="socials">
        <p>Follow us</p>
          <ul class="flex">
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><i class="fa-brands fa-youtube"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
          </ul>
      </div>
    <div class="col2">
      <p>Quick Links</p>
      <ul>
        <li>Login</li>
        <li>Sign up</li>
      </ul>
    </div>
    <div class="col3">
      <p>Customer Area</p>
      <ul>
      <li>Terms</li>
      <li>Privacy Policy</li>
      <li>FAQ</li>
    </ul>
    </div>
    <div class="col4">
      <p>Don't miss the newest books</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
      <input type="email">
      <a class="btn" href="">Subscribe</a>
    </div>
  </div>
</footer>