<footer>
  <div class="flex">
    <div class="col1">
      <div class="nav__logo">
        <img class="clevr--icon" src="img/icon.png" alt="Clevr icon" />
        <img class="clevr--text" src="img/Clevr.png" alt="Clevr logo" />
      </div>
      <p>
        Clevr is an online bookstore website who sells all genres of books from
        around the world. Find your book here now
      </p>
      <div class="socials">
        <h4>Follow us</h4>
        <ul class="flex">
          <li><i class="fa-brands fa-facebook-f"></i></li>
          <li><i class="fa-brands fa-youtube"></i></li>
          <li><i class="fa-brands fa-twitter"></i></li>
          <li><i class="fa-brands fa-linkedin"></i></li>
          <li><i class="fa-brands fa-instagram"></i></li>
        </ul>
      </div>
    </div>
    <div class="col2">
      <h4>Quick Links</h4>
      <ul>
        <li>Login</li>
        <li>Sign up</li>
      </ul>
    </div>

    <div class="col3">
      <h4>Customer Area</h4>
      <ul>
        <li>Terms</li>
        <li>Privacy Policy</li>
        <li>FAQ</li>
      </ul>
    </div>

    <div class="col4">
      <h4>Don't miss the newest books</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut
      </p>
      <form action="">
        <input type="email" placeholder="Type your email here.." required />
        <button type="submit" class="btn" href="/">Subscribe</button>
      </form>
    </div>
  </div>
</footer>
