<header>
  <nav>
    <div class="nav__logo">
      <a class="flex" href="/">
        <img class="clevr--icon" src="img/icon.png" alt="Clevr icon" />
        <img class="clevr--text" src="img/Clevr.png" alt="Clevr logo" />
      </a>
    </div>
    <div class="nav__dropdown">
      <a class="nav__menu--btn btn" href="#">Menu</a>
      <ul class="nav__dropdown--menu">
        <li><a class="nav__link" id="home__link" href="/">Home</a></li>
        <li><a class="nav__link" id="books__link" href="/books">Books</a></li>
        <li>
          <a class="nav__link" id="bookmarked__link" href="/404">Bookmarked</a>
        </li>
      </ul>
    </div>
    <div class="nav__search--bar hide-for-mobile">
      <form action="/books" method="post">
        <input
          id="title"
          type="search"
          name="title"
          placeholder="Find books here.."
        />
        <button type="submit">
          <img
            class="nav__search--icon"
            src="img/search.png"
            alt="Search icon"
          />
        </button>
      </form>
    </div>
    <div class="flex">
      <a class="nav__cart__icon hide-for-mobile" href="/cart">
        <img src="img/basket.png" alt="basket icon" />
      </a>
      <a href="../login" class="nav__user hide-for-mobile" id="black-link"
        >Sign In</a
      >
      <a href="../signup" class="nav__user btn hide-for-mobile"
        >Create Account</a
      >
    </div>
  </nav>
</header>
