<header>
  <nav>
    <div class="nav__logo">
      <a href="/">
        <img class="clevr--icon" src="img/icon.png" alt="Clevr icon" />
        <img class="clevr--text" src="img/Clevr.png" alt="Clevr logo" />
      </a>
    </div>
    <div class="nav__dropdown">
      <a class="nav__menu--btn btn" href="#">Menu</a>
      <ul class="nav__dropdown--menu">
        <li><a id="active" href="/">Home</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/404">Bookmarked</a></li>
      </ul>
    </div>
    <div class="nav__search--bar hide-for-mobile">
      <input type="search" name="title" placeholder="Find books here.." />
      <img class="nav__search--icon" src="img/search.png" alt="Search icon" />
    </div>
    <a class="nav__cart__icon hide-for-mobile" href="/cart">
      <img src="img/basket.png" alt="basket icon" />
    </a>
    <a href="../login" class="nav__user hide-for-mobile" id="black-link"
      >Sign in</a
    >
    <a href="../signup" class="nav__user btn hide-for-mobile">Create Account</a>
  </nav>
</header>
