<section class="section__hero">
  <div class="hero">
    <div class="hero__heading">
      <h1>Welcome to <span>Clevr</span> Online Book Store</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris
      </p>
      <div class="hero__counts">
        <div class="countCustomers">
          <div class="flex">
            <img src="./img/icon_books.png" alt="" />
            <h3>68+k</h3>
          </div>
          <p>Book Collections</p>
        </div>
        <div class="countBooks">
          <div class="flex">
            <img src="./img/icon_customers.png" alt="" />
            <h3>25.634</h3>
          </div>
          <p>Customers</p>
        </div>
      </div>
      <a class="pinkBtn btn" href="/books"
        >Go to collections <span>&#8594;</span></a
      >
    </div>
    <div class="hero__featured--products">
      <div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJCCIfQzINPm2EFFDN46JrGjJqTHn6BYtavw&usqp=CAU"
          alt=""
        />
      </div>
      <div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo_MuE6w8yDSIV17UXHb5GExikjMouNQJH7uLN-qqlaL-ydLdl63ztC87ityKS7fwhmQA&usqp=CAU"
          alt=""
        />
      </div>
      <div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOTaiMLsoWt5HwQgah3NVFG5trSmyqZbmt6pTyHxwBB1767WCOG06AeY3l3b1hJfr8hxM&usqp=CAU"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
