@import "shared/variables.css";
@import "shared/globals.css";
@import "shared/buttons.css";
@import "shared/header.css";
@import "shared/hero.css";
@import "shared/books.css";
@import "shared/footer.css";

.pinkBtn span {
  margin-left: 2rem;
}

.spinner {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
  }
}
