@import "shared/variables.css";
@import "shared/globals.css";
@import "shared/buttons.css";
@import "shared/header.css";
@import "shared/hero.css";
@import "shared/books.css";
@import "shared/footer.css";
@import "shared/extra.css";
.pinkBtn span {
  margin-left: 2rem;
}

.spinner {
  display: block;
  margin: 0 auto;
  animation: rotate 2s linear infinite;
  width: 10rem;
  height: 10rem;
}
.spinner img {
  width: 100%;
  height: 100%;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
