:root {
  --color-white: #ffffff;
  --color-primary: #8d28ad;
  --color-primary-lighter: #ca8fdd;
  --color-primary-light: #fcf8fd;
  --color-primary-dark: #380b46;
  --color-light-grey: #f3f3f3;
  --color-grey: rgba(0, 0, 0, 0.6);
}
