<h1>SignUp</h1>
<form action="/users" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <label for="cpassword">Confirm password</label>
    <input type="password" id="cpassword" name="cpassword" required />
  </div>
  <button type="submit">SignUp</button>
</form>
<a href="/login">Login</a>
<!--we are gonna post to a route named /signup -->
